# Python virtual environments
venv/
tfenv/
tf_amd/
node_modules
# Cache and compiled files
__pycache__/
*.pyc
*.pyo

# TensorFlow / models / logs
models/
*.h5
*.pb
*.ckpt
logs/

# VS Code
.vscode/
